
<h1>Welcome</h1>
<p>
    This is the website for the Customer API.
</p>
<p>
    Tabs in the navigation bar go to examples of each api call this api provides.
    Look through them to try out the examples or go to the official documentation.
</p>